{% extends "base.html" %}
{% load static %}
{% block titulo_pagina %} Listado de animales {% endblock %}
{% block titulo_principal %} Listado de animales  {% endblock %}
{% block titulo_secundario %} Listado de animales {% endblock %}
{% block principal %}
        <table class="w-full bg-white rounded overflow-hidden">
            <thead class="bg-terracotadk text-white">
                <tr>
                    <th>Nombre</th>
                    <th>Raza</th>
                    <th>Categoria</th>
                    <th>Duenio</th>
                    <th>Modificar</th>
                    <th>Eliminar</th> 
                </tr>
            </thead>
            {% for animal in animales %}
                <tr class="text-center border-b bg-crema">
                    <td>{{ animal.nombre }}</td>
                    <td>{{ animal.raza }}</td>
                    <td>{{ animal.categoria }}</td>
                    <td>{{ animal.duenio.nombre }}</td>
                    <td><a href='{% url "modificar_animal" animal.id %}'><img src="{% static 'img/ImageEditar.png' %}" class="block mx-auto w-5"></a></td>
                    <td><a href='{% url "eliminar_animal" animal.id %}'><img src="{% static 'img/ImageEliminar.png' %}" class="block mx-auto w-5"></a></td>
                </tr>
            {% endfor %}
        </table>
        <div>
          <div class="mt-9 flex flex-wrap gap-4">
            <a href='http://127.0.0.1:8000/' class="inline-flex items-center gap-2 bg-terracotadk text-white font-semibold px-6 py-3.5 rounded-full hover:bg-terracota transition-colors">
              Principal
              <!--<svg class="w-4 h-4" aria-hidden="true"><use href="#i-arrow"/></svg> -->
            </a>
          </div>
        </div>
        <!--<a href='http://127.0.0.1:8000/' class="btn btn-success">Principal</a> -->
{% endblock %}